<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio página web</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Venta de lentes para natación</h3>
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/showSignin">&nbsp;Iniciar Sesión</a>
                    </li>
                </ul>
            </nav>
            
        </div>
 
        <div class="jumbotron">
            <h1>Empezar a comprar</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/showSignUp" role="button">Registrarse</a>
            </p>
        </div>
 
        <footer class="footer">
            <p>&copy; Ciencia de la Computación - UNSA</p>
        </footer>
 
    </div>
</body>
 
</html>